!!! 5
%html
  %head
    %title Focaccia
    %link{ href: './assets/app.css', rel: 'stylesheet' }
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand Focaccia'd
              %nav
                %ul.nav.masthead-nav
                  %li.active
                    %a{ href: '/' } Home
                  %li
                    %a{ href: '/leaderboard' } Leaderboard
          .inner.cover
            %h1.cover-heading Who is being cacc'd?
            %form{ method: 'POST', action: '/cacc' }
              .input-group.cover-input
                %input.form-control{ type: 'text', name: 'name', placeholder: 'larry_the_lobster', autofocus: true }
                %span.input-group-addon
                  @lob.com
              %p.lead
                %input.btn.btn-lg.btn-primary{ type: 'submit', value: 'Cacc!' }
          .mastfoot
            .inner
              Built by
              %a{ href: 'http://itsachen.com' } itsachen

